<div class="row">
    <p>Consumindo API Marvel</p>
    @if (isLoading){
    <mat-spinner></mat-spinner>
    } @else {
    <button (click)="carregarAPI()" mat-raised-button>Carregar dados</button>
    @if(comicList == null){
    <p>Não constam dados na lista</p>
    } @else {
    @for (comic of comicList; track comic){
    <mat-card class="example-card card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{comic.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{comic.thumbnail.path}}/portrait_xlarge.{{comic.thumbnail.extension}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{comic.description ?? comic.variantDescription}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    }
    }
    }

</div>