/* You can add global styles to this file, and also import other style files */

*{
    font-family: Helvetica;
    color:black;
    margin: 20;
}


.class {
    padding: 10;
}

h1 { 
    background: blue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
